body {
    line-height: 150%;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    background: white;
    height: auto;
/*     padding-top: 50px; */
}

a {
    color: #333;
    text-decoration: none;
}

.content-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar {
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}

.sidebar-title {
    padding: 10px 20px;
    background: #187bca;
    font-size: 18px;
    color: white;
}

.sub-title {
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #999999;
    font-size: 16px;
}

.sub-active {
    color: #187bca;
}

.section-box {
    border: 1px solid #999999;
    overflow: hidden;
    width: 100%;
}

.section-nav {
    padding: 10px 20px;
    border-bottom: 1px solid #999999;
    color: #333;
    font-family: "Microsoft Yahei";
    font-size: 14px;
}

.section-title {
    margin: 0 20px;
    border-bottom: 1px solid #999999;
}

.section-body {
    margin: 20px;
    overflow: hidden;
}

.section-info {
    text-align: center;
}

.sub-title span {
    font-size: 12px;
    padding-right: 10px;
}
/*表格*/
#views {
    margin-right: -3px;
}

.table-rw {
    font-family: 微软雅黑, 宋体;
    width: 100%;
    border-collapse: collapse;
    margin: -1px;
}

    .table-rw td, .table-rw th {
        font-size: 14px;
        border: 1px solid #999999;
        padding: 10px 15px;
    }

        .table-rw td a:hover {
            color: #187bca;
        }

    .table-rw th {
        font-size: 16px;
        text-align: center;
        padding-bottom: 4px;
        background-color: #ffffff;
        color: #0462a4;
        padding: 15px 4px;
    }

    .center {
        text-align: center;
    }

#add {
    padding-left: 15px;
}
#addshuiyin {
    padding-top:10px;
    padding-left:20px;
    /*border-bottom:1px solid #cccccc;*/
}
/*表格结束*/
.pagination {
    margin: 20px 0px;
}

.search {
    padding-top: 15px;
    padding-left:15px;
    font-size: 14px;
    border-bottom:1px solid #999999;
}

    .search .row {
        padding-bottom: 15px;
    }

/*分页*/
#fenye #yeshu {
    display: inline;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    padding-left: 15px;
}

#fenye span {
    font-size: 14px;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

    #fenye span:first-child {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    #fenye span:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    #fenye span a {
        color: #337ab7;
    }

.loginpartial {
    height: 50px;
    line-height: 50px;
    color: #ddd;
    font-size: 14px;
}

    .loginpartial a {
        color: #ddd;
    }

#export {
    display: inline-block;
    -ms-touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    border-color: #cccccc;
    float: right;
    margin-right: 20px;
}

.create {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
    font-size: 14px;
}

.edit {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
    font-size: 14px;
}

.footer {
    height: 45px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    line-height: 45px;
    background-color: #333;
}

.white14 {
    color: #ccc;
    font-family: "Microsoft Yahei";
    font-size: 14px;
}
